@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #25c0f4;
  --color-background-light: #f5f8f8;
  --color-background-dark: #101e22;
  --font-display: "Space Grotesk", "sans-serif";

  @keyframes snake-x {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes snake-y {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(100%);
    }
  }

  @keyframes snake-border {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -100;
    }
  }

  --animate-snake-border: snake-border 6s linear infinite;

  @keyframes tilt {

    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(0.5deg);
    }

    75% {
      transform: rotate(-0.5deg);
    }
  }
}

.glass-card {
  background-color: rgba(22, 49, 58, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(37, 192, 244, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background-dark);
  color: #e5e7eb;
}